@import url("https://fonts.googleapis.com/css2?family=jost:wght@400;500;600;&display=swap");

:root{
    --underweight: orange;
    --normal: green;
    --overweight: lightcoral;
    --obese: crimson;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;
}
body{
    background: #004d4d;
    display: grid;
    place-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
.container{
    width: 90%;
    max-width: 420px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 1rem;
}
.calculator{
    display: grid;
    gap: 1rem;
}
.calculator div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.calculator label{
    flex: 0 1 120px;
    font-weight: 600;
}
.calculator input{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}
#btn{
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #00a1a3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#btn1{
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #a32e00;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.calculator button:hover{
    filter: brightness(1205)
}
.result{
    text-align: center;
}
.result #resultValue{
    font-size: 4rem;
}
.result #desc strong{
    text-transform: uppercase;
}
.bmi-scale {
    display: flex;
}
.bmi-scale div{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
}
.bmi-scale h4{
    font-size: 0.75;
    color: slategray;
}
.underweight{
    color: var(--underweight);
}
.healthy{
    color: var(--normal);
}
.overweight{
    color: var(--overweight);
}
.obese{
    color: var(--obese);
}






/* @import url("https://fonts.googleapis.com/css2?family=jost:wght@400;500;600;&display=swap");

:root{
    --underweight: orange;
    --normal: green;
    --overweight: lightcoral;
    --obese: crimson;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;
}
body{
    background: #004d4d;
    display: grid;
    place-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
.container{
    width: 90%;
    max-width: 420px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 1rem;
}
.calculator{
    display: grid;
    gap: 1rem;
}
h1{
    text-align: center;
}.calculator div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.calculator label{
    flex: 0 1 120px;
    font-weight: 600;
}
.calculator input{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}
.calculator button{
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #00a1a3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.result{
    text-align: center;
}
.result #resultValue{
    font-size: 4rem;
}
.result #desc strong{
    text-transform: uppercase;
}
.bmi-scale {
    display: flex;
}
.bmi-scale div{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
}
.bmi-scale h4{
    font-size: 0.75;
    color: slategray;
}
.underweight{
    color: var(--underweight);
}
.healthy{
    color: var(--normal);
}
.overweight{
    color: var(--overweight);
}
.obese{
    color: var(--obese);
} */


/* 11111111111111111111111111111111111111111111 */
/* #desc{
    margin-left: 250px;
}
.calculate{
    background-color: rgb(219, 140, 21);
} */



/* .result{
    color: rgb(11, 11, 11);
    font-size: 20px;
    padding-left: 50px;
    background-color: rgb(214, 233, 141);
    width: 300px;
    height: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chaild1{
    background-color: #75e6ac;
    color: black;
    width: 400px;
    margin-left: 30px;
    border-radius: 10px;
}
.height{
    background-color: rgb(214, 233, 141);
    width: 150px;
    height: 120px;
    display: inline-block;
    margin: 20px 5px 20px 30px;
    border: 1px solid;
    padding-left: 20px;
    
}
.weight{
    background-color: rgb(214, 233, 141);
    width: 150px;
    height: 120px;
    display: inline-block;
    margin: 10px 5px 5px 30px;
    border: 1px solid;
    padding-left: 20px;    
}
label{
    padding-left: 20px;
}
input{
    margin-left: 20px;
    margin-top: 20px;
    width: 60px;
}
.cm{
    padding-left: 30px;
}
.kg{
    padding-left: 30px;
}
#btn{
    border-radius: 10px;
    margin: 40px 20px 10px 50px;
    padding: 5px;
    color: rgb(250, 246, 246);
    width: 300px;
    background-color: rgb(74, 20, 238);

}
#btn1{
    border-radius: 10px;
    margin: 10px 20px 10px 50px;
    padding: 5px;
    width: 300px;
    color: rgb(250, 245, 245);
    background-color: rgb(238, 42, 7);
}
button:hover{
    background-color: rgb(83,83,82);
}
.bmi-scale{
    display: flex;
    margin-top: 30px;
}
.bmi-scale div{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
}
.bmi-scale h4{
    font-size: 0.75rem;
    color: rgb(233, 247, 132);
} */

/* @import url("https://fonts.googleapis.com/css2?family=jost:wght@400;500;600;&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}
body{
    background-image: url(assets/tree-736885_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "jost", sans-serif;
}
:root{
    --underweight: orange;
    --normal: green;
    --overweight: lightcoral;
    --obese: crimson;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chaild{
    width: 500px;
    height: 600px;
    padding: 8px 0px 70px 20px;
    color: white;
    border-radius: 20px;
    background: rgb(204, 116, 210);
    box-shadow: 0 8px 25px 0 #d5e761;
    font-size: 20px;  
}
h2{
    text-shadow: 4px 2px 1px rgb(44, 46, 40);
    margin: 2px 0px 50px 120px;
    color: rgb(241, 169, 34);
}
#desc{
    margin-left: 250px;
}
.calculate{
    background-color: rgb(219, 140, 21);
}
.result{
    color: rgb(11, 11, 11);
    font-size: 20px;
    padding-left: 50px;
    background-color: rgb(214, 233, 141);
    width: 300px;
    height: 50px;
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chaild1{
    background-color: #75e6ac;
    color: black;
    width: 400px;
    margin-left: 30px;
    border-radius: 10px;
}
.height{
    background-color: rgb(214, 233, 141);
    width: 150px;
    height: 120px;
    display: inline-block;
    margin: 20px 5px 20px 30px;
    border: 1px solid;
    padding-left: 20px;
    
}
.weight{
    background-color: rgb(214, 233, 141);
    width: 150px;
    height: 120px;
    display: inline-block;
    margin: 10px 5px 5px 30px;
    border: 1px solid;
    padding-left: 20px;    
}
label{
    padding-left: 20px;
}
input{
    margin-left: 20px;
    margin-top: 20px;
    width: 60px;
}
.cm{
    padding-left: 30px;
}
.kg{
    padding-left: 30px;
}
#btn{
    border-radius: 10px;
    margin: 40px 20px 10px 50px;
    padding: 5px;
    color: rgb(250, 246, 246);
    width: 300px;
    background-color: rgb(74, 20, 238);

}
#btn1{
    border-radius: 10px;
    margin: 10px 20px 10px 50px;
    padding: 5px;
    width: 300px;
    color: rgb(250, 245, 245);
    background-color: rgb(238, 42, 7);
}
button:hover{
    background-color: rgb(83,83,82);
}
.bmi-scale{
    display: flex;
    margin-top: 30px;
}
.bmi-scale div{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
}
.bmi-scale h4{
    font-size: 0.75rem;
    color: rgb(233, 247, 132);
} */
